In [71]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import scipy.stats as sts
from sklearn.cluster import KMeans
from sklearn.decomposition import PCA
%matplotlib inline

file = 'rates 12052021.csv'

In [72]:
import chardet
with open(file, 'rb') as rawdata:
    result = chardet.detect(rawdata.read(100000))
result

{'encoding': 'windows-1251',
 'confidence': 0.8592048592477813,
 'language': 'Bulgarian'}

In [73]:
df = pd.read_csv(file, encoding='windows-1251', sep=';', header=1)

In [74]:
df_sliced = df[['SECID', 'SHORTNAME', 'NAME', 'FACEVALUE', 'FACEUNIT', 'DURATION', 'IS_QUALIFIED_INVESTORS', 'HIGH_RISK', 'COUPONFREQUENCY', 'COUPONDATE', 'COUPONPERCENT', 'COUPONVALUE', 'OFFERDATE', 'INN', 'PRICE', 'PRICE_RUB']]

In [75]:
df_rub = df_sliced[df_sliced['FACEUNIT']=='RUB']

In [86]:
df_rub.head(5)

,SECID,SHORTNAME,NAME,FACEVALUE,FACEUNIT,DURATION,IS_QUALIFIED_INVESTORS,HIGH_RISK,COUPONFREQUENCY,COUPONDATE,COUPONPERCENT,COUPONVALUE,OFFERDATE,INN,PRICE,PRICE_RUB
9,RU000A0JNYN1,МГор48-об,Гор.Обл.Займ Москвы 48 в.,"1000,0",RUB,379.0,0,0,2.0,11.06.2021,"6,00","29,92",NaN,7710152113,"100,118","1026,17"
10,RU000A0JQ5C5,НПФ 01,"""НПФ"" ООО об.сер. 01","1000,0",RUB,NaN,0,1,NaN,06.05.2029,"5,00","1000,55",NaN,6658196868,"100,0","1601,1"
11,RU000A0JQ7Z2,РЖД-19 обл,"""Российские ЖД"" ОАО 19 обл.","1000,0",RUB,1020.0,0,0,2.0,12.07.2021,"7,85","39,14",NaN,7708503727,"103,195","1057,97"
12,RU000A0JQ8V9,Мечел 4об,Мечел ПАО 04 обл.,"50,0",RUB,64.0,0,0,4.0,15.07.2021,"8,00","1,0",NaN,7703370008,"253,9698","127,2849"
13,RU000A0JQAL8,ДОМ.РФ14об,ДОМ.РФ (АО) обл. сер. А14,"1000,0",RUB,677.0,0,0,2.0,15.05.2021,"6,75","33,47",NaN,7729355614,"105,437","1087,29"

In [83]:
df_rub.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2222 entries, 9 to 2553
Data columns (total 16 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   SECID                   2222 non-null   object
 1   SHORTNAME               2222 non-null   object
 2   NAME                    2222 non-null   object
 3   FACEVALUE               2222 non-null   object
 4   FACEUNIT                2222 non-null   object
 5   DURATION                1555 non-null   float64
 6   IS_QUALIFIED_INVESTORS  2222 non-null   int64
 7   HIGH_RISK               2222 non-null   int64
 8   COUPONFREQUENCY         1894 non-null   float64
 9   COUPONDATE              2217 non-null   object
 10  COUPONPERCENT           2171 non-null   object
 11  COUPONVALUE             2171 non-null   object
 12  OFFERDATE               531 non-null    object
 13  INN                     2222 non-null   int64
 14  PRICE                   2076 non-null   object
 15  PRICE_RUB               2076 non-null   object
dtypes: float64(2), int64(3), object(11)
memory usage: 295.1+ KB

In [82]:
df_rub['INN'] = df_rub['INN'].fillna(0).astype(np.int64)

<ipython-input-82-2183ded9c7cc>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_rub['INN'] = df_rub['INN'].fillna(0).astype(np.int64)

In [85]:
df_rub['INN']

9       7710152113
10      6658196868
11      7708503727
12      7703370008
13      7729355614
           ...
2521      10035220
2525      10035220
2533      10035220
2545      10035220
2553      10035220
Name: INN, Length: 2222, dtype: int64

In [84]:
distortion = []
K = range(1, 10)
for k in K:
    model = KMeans(n_clusters=k, random_state=12345)
    model.fit(df_rub)
    distortion.append(model.inertia_)

ValueError: could not convert string to float: '99990,0'