In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
cd drive/My\ Drive

/content/drive/My Drive

In [ ]:
cd Colab\ Notebooks

/content/drive/My Drive/Colab Notebooks

In [ ]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
import matplotlib.pyplot as plt

titanic_df = pd.read_csv('titanic.csv')

In [ ]:
titanic_df[['Survived','Pclass','Age','Fare']].head()

   Survived  Pclass   Age     Fare
0         0       3  22.0   7.2500
1         1       1  38.0  71.2833
2         1       3  26.0   7.9250
3         1       1  35.0  53.1000
4         0       3  35.0   8.0500

In [ ]:
df = titanic_df[['Survived','Pclass','Age','Fare']]

In [ ]:
df[df.Age.isna()]

     Survived  Pclass  Age     Fare
5           0       3  NaN   8.4583
17          1       2  NaN  13.0000
19          1       3  NaN   7.2250
26          0       3  NaN   7.2250
28          1       3  NaN   7.8792
..        ...     ...  ...      ...
859         0       3  NaN   7.2292
863         0       3  NaN  69.5500
868         0       3  NaN   9.5000
878         0       3  NaN   7.8958
888         0       3  NaN  23.4500

[177 rows x 4 columns]

In [ ]:
df.fillna(df.Age.median(),inplace = True)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4327: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  downcast=downcast,

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(df.drop('Survived',axis=1), df['Survived'], test_size=0.25, random_state=42)

In [ ]:
from sklearn import tree

In [ ]:
clf = tree.DecisionTreeClassifier(max_depth=3)

In [ ]:
model = clf.fit(X_train, y_train)

In [ ]:
pred = model.predict(X_test)

In [ ]:
import sklearn
sklearn.metrics.accuracy_score(y_test, pred)

0.7085201793721974

In [ ]:
model.feature_importances_

array([0.45258757, 0.31110389, 0.23630854])

# С полом

In [ ]:
titanic_df[['Survived','Pclass','Age','Fare','Sex']].head()

   Survived  Pclass   Age     Fare     Sex
0         0       3  22.0   7.2500    male
1         1       1  38.0  71.2833  female
2         1       3  26.0   7.9250  female
3         1       1  35.0  53.1000  female
4         0       3  35.0   8.0500    male

In [ ]:
df = titanic_df[['Survived','Pclass','Age','Fare','Sex']]

In [ ]:
df.fillna(df.Age.median(),inplace = True)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4327: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  downcast=downcast,

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(df.drop('Survived',axis=1), df['Survived'], test_size=0.33, random_state=42)

In [ ]:
model = clf.fit(X_train, y_train)

ValueError: ignored

In [ ]:
from sklearn.preprocessing import LabelEncoder

In [ ]:
le = LabelEncoder()

In [ ]:
df['Sex'] = le.fit_transform(df['Sex'])

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
df

     Survived  Pclass   Age     Fare  Sex
0           0       3  22.0   7.2500    1
1           1       1  38.0  71.2833    0
2           1       3  26.0   7.9250    0
3           1       1  35.0  53.1000    0
4           0       3  35.0   8.0500    1
..        ...     ...   ...      ...  ...
886         0       2  27.0  13.0000    1
887         1       1  19.0  30.0000    0
888         0       3  28.0  23.4500    0
889         1       1  26.0  30.0000    1
890         0       3  32.0   7.7500    1

[891 rows x 5 columns]

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(df.drop('Survived',axis=1), df['Survived'], test_size=0.25, random_state=42)

In [ ]:
model = clf.fit(X_train, y_train)
pred_with_sex = model.predict(X_test)

In [ ]:
sklearn.metrics.accuracy_score(y_test, pred_with_sex)

0.8026905829596412

In [ ]:

frame = { 'FeatureImportance': model.feature_importances_, 'Feature': X_train.columns }
result = pd.DataFrame(frame)
result.sort_values(by='FeatureImportance', ascending=False).head(10)

   FeatureImportance Feature
3           0.621961     Sex
0           0.212574  Pclass
1           0.088113     Age
2           0.077352    Fare