In [10]:
import pandas as pd
import numpy as np
import itertools
import scipy.stats as sts
from random import seed, randint

N = 90000

In [11]:
num1 = np.random.uniform(0, 1, N)
num2 = np.random.uniform(0, 1, N)
num3 = np.random.uniform(0, 1, N)

cases = pd.DataFrame(zip(num1, num2, num3), columns=['Num1', 'Num2', 'Num3'])
cases

           Num1      Num2      Num3
0      0.249075  0.464026  0.045334
1      0.759274  0.010339  0.826290
2      0.169508  0.913867  0.179237
3      0.745069  0.036261  0.066036
4      0.314696  0.606977  0.166862
...         ...       ...       ...
89995  0.069328  0.688102  0.197868
89996  0.178017  0.293797  0.525240
89997  0.206966  0.613792  0.309428
89998  0.589775  0.691726  0.123478
89999  0.141958  0.861480  0.576158

[90000 rows x 3 columns]

In [6]:
p = cases[(cases['Num1']+cases['Num2']+cases['Num3']) <= 1].shape[0] / N
p

0.16747777777777778

In [12]:
norm_rv = sts.norm(1024, 64)
sample = norm_rv.rvs(100)
sample

array([1038.14295326, 1174.00570434, 1039.62291661, 1088.86287248,
       1090.41506701,  987.88824897, 1063.81645489, 1080.22845073,
        988.57881461,  902.48525499, 1053.06384268, 1036.93681304,
        931.64972849, 1050.3500617 ,  974.45421419,  825.65013737,
       1009.42972381, 1003.15755358,  986.97487278, 1054.57030516,
       1097.59314154, 1121.99773865, 1140.82966807,  942.93533692,
       1097.78052744,  897.81711902, 1002.90899479,  999.48559026,
       1095.11406911, 1010.18795658,  972.96486913, 1097.18175711,
       1114.81093278, 1057.27513259, 1013.53294607, 1068.45193454,
       1067.20347657, 1100.07055684, 1063.84955301,  946.11915159,
        996.68521928,  987.17851695, 1014.43479607, 1060.81990162,
       1136.51674423,  963.33943164, 1008.83515443,  987.52879258,
       1069.3243478 ,  969.64147766, 1096.82018608, 1047.77643993,
       1054.57821486, 1095.22605766,  948.85085286,  998.13238197,
       1041.41256651, 1037.81280771,  981.23639776, 1080.63116129,
        990.28918638, 1039.14840551,  972.31499769,  948.14976993,
        904.16413505,  997.0041817 ,  955.94186092,  955.11295586,
        950.54033774, 1063.5939903 , 1116.04503493,  993.27232647,
       1144.5179544 , 1057.8109572 , 1087.31018323,  999.11559635,
        983.89395373, 1070.16423153,  944.02839146,  922.62146406,
       1114.08538192, 1111.36090022,  957.0903797 ,  997.68595904,
       1041.76441153,  942.04827437,  974.59194816, 1032.38644917,
        928.81320377, 1025.62886201,  977.18561275, 1028.09273383,
       1096.27858883, 1107.18527861,  949.36939323, 1033.61783033,
       1032.77405327,  981.66203651, 1024.60795107, 1118.34602124])

In [13]:
norm_rv.cdf(1000)

0.3538302333272762