In [ ]:
#установка библиотеки
# !pip install psycopg2

In [2]:
#проверка подключения PostgreSQL 
import psycopg2
import pandas as pd

#!введите свои реквизиты!
DB_HOST = '52.157.159.24'
DB_USER = 'student0'
DB_USER_PASSWORD = 'student0_password'
DB_NAME = 'sql_ex'

conn = psycopg2.connect(host=DB_HOST, user=DB_USER, password=DB_USER_PASSWORD, dbname=DB_NAME)

/usr/local/lib/python3.7/dist-packages/psycopg2/__init__.py:144: UserWarning: The psycopg2 wheel package will be renamed from release 2.8; in order to keep installing from binary please use "pip install psycopg2-binary" instead. For details see: <http://initd.org/psycopg/docs/install.html#binary-install-from-pypi>.
  """)

Схема БД состоит из четырех таблиц:



*   Product(maker, model, type)
*   PC(code, model, speed, ram, hd, cd, price)
*   Laptop(code, model, speed, ram, hd, price, screen)
*   Printer(code, model, color, type, price)


Таблица Product представляет производителя (maker), номер модели (model) и тип ('PC' - ПК, 'Laptop' - ПК-блокнот или 'Printer' - принтер). Предполагается, что номера моделей в таблице Product уникальны для всех производителей и типов продуктов. В таблице PC для каждого ПК, однозначно определяемого уникальным кодом – code, указаны модель – model (внешний ключ к таблице Product), скорость - speed (процессора в мегагерцах), объем памяти - ram (в мегабайтах), размер диска - hd (в гигабайтах), скорость считывающего устройства - cd (например, '4x') и цена - price. Таблица Laptop аналогична таблице РС за исключением того, что вместо скорости CD содержит размер экрана -screen (в дюймах). В таблице Printer для каждой модели принтера указывается, является ли он цветным - color ('y', если цветной), тип принтера - type (лазерный – 'Laser', струйный – 'Jet' или матричный – 'Matrix') и цена - price.

![computers.gif]()

In [ ]:
#insert
request = """

"""

conn.cursor().execute(request)
conn.commit()

In [ ]:
#проверяем insert
pd.read_sql_query("select * from Product where model = 'product_by_student_0';", conn)

  maker                 model type
0     E  product_by_student_0   PC

In [ ]:
#update
request = """

"""

conn.cursor().execute(request)
conn.commit()

In [ ]:
#проверяем insert
pd.read_sql_query("select * from Product where model = 'product_by_student_0';", conn)

       maker                 model type
0  E_updated  product_by_student_0   PC

In [ ]:
#delete
request = """

"""

conn.cursor().execute(request)
conn.commit()

In [ ]:
#проверяем delete
pd.read_sql_query("select * from Product where model = 'product_by_student_0';", conn)

Empty DataFrame
Columns: [maker, model, type]
Index: []

**JOIN**

In [4]:
#join по таблицам laptop & product
request = """
SELECT *
FROM printer l 
join product p
on l.model = p.model
"""
pd.read_sql_query(request, conn)

   code model color    type  price maker model     type
0     1  1276     n   Laser  400.0     A  1276  Printer
1     2  1433     y     Jet  270.0     D  1433  Printer
2     3  1434     y     Jet  290.0     E  1434  Printer
3     4  1401     n  Matrix  150.0     A  1401  Printer
4     5  1408     n  Matrix  270.0     A  1408  Printer
5     6  1288     n   Laser  400.0     D  1288  Printer

Задание 1: Вывести всю информацию по каждому принтеру (join printer & product)

In [ ]:
#task1
request = """

"""
pd.read_sql_query(request, conn)

Задание 2: Вывести всю информацию по каждому laptop, у которого цена больше 500

In [ ]:
#task2
request = """

"""
pd.read_sql_query(request, conn)

Задание 3: Вывести всю информацию по каждому PC, у которого объем RAM > 100

In [ ]:
#task3
request = """

"""
pd.read_sql_query(request, conn)

Задание 4: Найдите среднюю скорость PC, выпущенных производителем 'A'

In [ ]:
#task4
request = """

"""
pd.read_sql_query(request, conn)

NameError: ignored

Задание 5: Вывести среднюю цену принтера по каждому производителю (maker)

In [ ]:
#task5
request = """

"""
pd.read_sql_query(request, conn)

Задание 6: Для каждого PC вывести дополнительно производителя (maker)

In [ ]:
#task6
request = """

"""
pd.read_sql_query(request, conn)

Задание 7: Вывести значения цены, производителя всех принтеров (printer), у котороых цена больше 500

In [ ]:
#task7
request = """

"""
pd.read_sql_query(request, conn)

Задание 8: Вывести всех производителей (без дупликатов)

In [ ]:
#task8
request = """

"""
pd.read_sql_query(request, conn)

Задание 9: Посчитать количество возможных типов cd в таблице PC

In [ ]:
#task9
request = """

"""
pd.read_sql_query(request, conn)

Задание 10: Какое количество принтеров у каждого производителя (maker), стоимость (price) которых (принтера)  больше 280

In [ ]:
#task10
request = """

"""
pd.read_sql_query(request, conn)

## **Подзапросы / Subqueries**

Задание 11: Найдите модели принтеров, имеющих самую высокую цену. Вывести: model, price

In [ ]:
#task11
request = """

"""
pd.read_sql_query(request, conn)

Задание 12: Вывести разницу в средней цене между PC и принтерами (Printer)

In [ ]:
#task12
request = """

"""
pd.read_sql_query(request, conn)

Задание 13: Вывести производителей самых дешевых принтеров. Вывести price, maker

In [ ]:
#task13
request = """

"""
pd.read_sql_query(request, conn)

Задание 14: Вывести производителей самых дешевых цветных принтеров (color = 'y')

In [ ]:
#task14
request = """

"""
pd.read_sql_query(request, conn)

Задание 15: Вывести все принтеры со стоимостью выше средней по принтерам

In [ ]:
#task15
request = """

"""
pd.read_sql_query(request, conn)

Задание 16: Какое количество уникальных продуктов среди PC и Laptop

In [ ]:
#task16
request = """

"""
pd.read_sql_query(request, conn)

Задание 17: Какая средняя цена среди уникальных продуктов производителя = 'A' (только printer & laptop, без pc)

In [ ]:
#task17
request = """

"""
pd.read_sql_query(request, conn)

Задание 18: Вывести все принтеры производителя = 'A' со стоимостью выше средней по принтерам производителя = 'B'. Вывести model

In [ ]:
#task18
request = """

"""
pd.read_sql_query(request, conn)

Задание 19: Найдите производителей, которые производили бы как PC
со скоростью (speed) не менее 750, так и laptop со скоростью (speed) не менее 750.
Вывести maker

In [ ]:
#task19
request = """

"""
pd.read_sql_query(request, conn)

Задание 20: Найдите средний размер hd PC каждого из тех производителей, которые выпускают и принтеры. Вывести: maker, средний размер HD.

In [ ]:
#task20
request = """

"""
pd.read_sql_query(request, conn)